<h2>Agrear Producto<h2>
    <form action="/api/createproducts" method="post">
        Name: <input type="text" name="title" id="title">
        Price: <input type="number" name="price" id="price">
        Stock: <input type="number" name="stock" id="stock">
        Description: <input type="tetx" name="description" id="description">
        Code: <input type="number" name="code" id="code">
        Status: <input type="" name="status" id="status">
        Category: <input type="text" name="category" id="category">
        Imagen: <input type="text" name="thumbnails" id="thumbnails">
        <input type="submit" value="CREATE">
    </form>