<h2>SIGNUP<h2>
    <form action="/api/createproducts" method="post">
        Name: <input type="text" name="title" id="title">
        Price: <input type="number" name="price" id="price">
        Stock: <input type="number" name="stock" id="stock">
        Description: <input type="tetx" name="description" id="description">
        <input type="submit" value="CREATE">
    </form>