<h3>Restablecer Contraseña</h3>
<div>
    <p>Escribe tu correo electrónico</p>
    <form action="/api/login/forgotPassword" method="post">
        <input type="email" name="email" id="resetEmail">
        <button type="submit" name="forgotPassword">Ir</button>
    </form>
</div>