    <h2>Hola!
        {{first_name}}
        {{last_name}}
    </h2>
    <h3>Lista de Productos</h3>
    <ul>
        {{#each products}}
        <li>Nombre del producto: {{this.title}}</li>
        {{/each}}
    </ul>