<h1>Lista de Productos en Tiempo Real</h1>
<ul id="productList">
  {{#each products}}
  <li data-product-id="{{this.id}}">Producto: {{this.title}}</li>
  <li data-product-id="{{this.id}}">Precio por unidad:{{this.price}}</li>
  {{/each}}
</ul>
<form id="addProductForm" action="/realTimeProducts/addProduct" method="post">
  <input type="text" name="title" placeholder="Nombre del producto">
  <input type="submit" value="Agregar producto">
</form>
<form id="deleteProductForm" action="/realTimeProducts/deleteProduct" method="post">
  <input type="text" name="id" placeholder="ID del producto">
  <input type="submit" value="Eliminar producto">
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>