<h3>Restableciendo la contraseña</h3>
<form action="/api/login/resetPassword" method="put">
    <p>Escriba su nueva contraseña:</p>
    <input type="password" name="newPassword" required>
    <button type="submit">Enviar</button>
</form>
