<h3>Restableciendo la contraseña</h3>
<form id="resetPasswordForm" action="/api/login/resetPassword" method="post">
    <p>Escriba su nueva contraseña:</p>
    <input type="password" name="newPassword" required>
    <button type="button" id="resetPasswordBtn">Enviar</button>
</form>

<script src="/js/resetPasswort.js"></script>
